@charset "UTF-8";
body {
  font-family: "M PLUS 1p", sans-serif;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.l-footer {
  background-image: url(../../images/footer_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.l-header {
  background-color: #FFF7EF;
}

.l-main {
  background-color: #FFFDFA;
}

.l-sidebar {
  background-color: #F2EDE9;
}
@media (min-width: 960px) {
  .l-sidebar {
    position: static;
    right: 0;
    width: 20%;
  }
}

.l-wrapper--all {
  display: flex;
  position: relative;
  overflow: hidden;
}

.l-wrapper--main {
  width: auto;
}
@media (min-width: 600px) {
  .l-wrapper--main {
    width: 100vw;
  }
}
@media (min-width: 960px) {
  .l-wrapper--main {
    width: 80%;
  }
}

.p-footer {
  height: 150px;
  color: #FFFFFF;
}
.p-footer__menu {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.p-footer__menuList1::after {
  content: "｜";
}
.p-footer__copyright {
  display: block;
  margin: 30px;
  text-align: center;
}

.p-header {
  height: 217px;
  display: flex;
  flex-direction: column;
  color: #707070;
  align-items: center;
}
@media (min-width: 960px) {
  .p-header {
    padding-left: 65px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.p-header__logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  margin: 40px;
}
@media (min-width: 960px) {
  .p-header__logo {
    font-size: 64px;
  }
}
.p-header__searchForm {
  width: 100%;
  max-width: 322px;
  display: flex;
  justify-content: center;
}
@media (min-width: 600px) {
  .p-header__searchForm {
    max-width: 546px;
  }
}
.p-header__searchForm__keyword {
  font-family: FontAwesome;
  color: #707070;
  width: 73%;
  height: 46px;
  padding-left: 10px;
  font-size: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.p-header__searchForm__submit {
  color: #707070;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  background-color: #EDE8E4;
  margin-left: 14px;
  margin-right: 0;
  height: 46px;
  width: 25%;
}
@media (min-width: 960px) {
  .p-header__searchForm__submit {
    margin-right: 31px;
  }
}

.p-sidebar {
  position: absolute;
  color: #707070;
  right: -90%;
  width: 90%;
  transition: all 0.6s;
}
@media (min-width: 600px) {
  .p-sidebar {
    right: -45%;
    width: 45%;
  }
}
@media (min-width: 960px) {
  .p-sidebar {
    padding-top: 0;
    position: static;
    height: auto;
    width: 20%;
  }
}
.p-sidebar.active {
  position: fixed;
  height: auto;
  right: 0;
  z-index: 1000;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
.p-sidebar__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 20px 25px 0 0;
  position: relative;
  right: 15%;
  top: 0;
}
.p-sidebar__title:hover {
  cursor: pointer;
}
@media (min-width: 960px) {
  .p-sidebar__title:hover {
    cursor: auto;
  }
}
@media (min-width: 600px) {
  .p-sidebar__title {
    font-size: 34px;
    right: 30%;
  }
}
.p-sidebar__title.active {
  color: #FFF7EF;
  display: none;
  transition-property: display;
  transition-delay: 1s;
}
@media (min-width: 960px) {
  .p-sidebar__title {
    position: static;
    margin: 84px 0 90px 46px;
  }
}
.p-sidebar__batsu.active::before {
  position: absolute;
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background-color: #707070;
  top: 50px;
  right: 25px;
  transform: rotate(45deg);
}
.p-sidebar__batsu.active::after {
  position: absolute;
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background-color: #707070;
  top: 50px;
  right: 25px;
  transform: rotate(-45deg);
}
.p-sidebar__subTitle {
  font-weight: bold;
  font-size: 24px;
  margin-top: 48px;
  margin-left: 46px;
  margin-bottom: 32px;
}
.p-sidebar__subTitle1 {
  margin-top: 170px;
}
@media (min-width: 960px) {
  .p-sidebar__subTitle1 {
    margin-top: 0;
  }
}
.p-sidebar__list {
  font-size: 20px;
  margin-left: 66px;
  margin-bottom: 20px;
}
.p-sidebar__bg {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s;
}
.p-sidebar__bg.active {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
}

.p-main__mv {
  background-image: url(../../../images/main.jpg);
  height: 285px;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (min-width: 960px) {
  .p-main__mv {
    height: 530px;
    background-size: cover;
    position: relative;
  }
}
.p-main__title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 36px;
  position: absolute;
  left: 25px;
  top: 122px;
}
@media (min-width: 600px) {
  .p-main__title {
    left: 86px;
  }
}
@media (min-width: 960px) {
  .p-main__title {
    font-size: 40px;
    top: 234px;
  }
}

.p-brunchMenu {
  padding: 20px 20px 40px 20px;
}
@media (min-width: 600px) {
  .p-brunchMenu {
    padding: 40px;
  }
}
@media (min-width: 960px) {
  .p-brunchMenu {
    padding: 120px;
  }
}
.p-brunchMenu__ul {
  display: flex;
  flex-direction: column;
  height: auto;
}
@media (min-width: 600px) {
  .p-brunchMenu__ul {
    flex-direction: row;
  }
}
.p-brunchMenu__li {
  position: relative;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 680px;
}
@media (min-width: 600px) {
  .p-brunchMenu__li {
    width: auto;
  }
}
@media (min-width: 960px) {
  .p-brunchMenu__li {
    min-height: 1200px;
  }
}
.p-brunchMenu__takeout {
  background-image: url(../../../images/main_takeout.jpg);
  background-size: cover;
  margin-right: 0;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  .p-brunchMenu__takeout {
    margin-right: 40px;
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  .p-brunchMenu__takeout {
    margin-right: 80px;
  }
}
.p-brunchMenu__eatin {
  background-image: url(../../../images/main_eatin.jpg);
  background-size: cover;
}
.p-brunchMenu__title {
  color: #eaeaea;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-size: 44px;
  margin-left: 11px;
  margin-top: 24px;
  margin-bottom: 38px;
}
@media (min-width: 960px) {
  .p-brunchMenu__title {
    font-size: 80px;
    margin-top: 14px;
    margin-bottom: 23px;
  }
}
.p-brunchMenu__underBar {
  position: absolute;
  display: block;
  background-color: #eaeaea;
  width: 36px;
  height: 3px;
  margin-left: 25px;
  top: 91px;
}
@media (min-width: 960px) {
  .p-brunchMenu__underBar {
    width: 63px;
    top: 160px;
  }
}
.p-brunchMenu__allContent {
  height: auto;
}
.p-brunchMenu__content {
  color: #3C2A10;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px;
  padding: 16px;
}
@media (min-width: 960px) {
  .p-brunchMenu__content {
    padding: 14px 20px;
  }
}
.p-brunchMenu__content__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
}
@media (min-width: 960px) {
  .p-brunchMenu__content__title {
    margin-bottom: 18px;
  }
}

dd {
  font-size: 14px;
}
@media (min-width: 960px) {
  dd {
    font-size: 16px;
  }
}

.p-access {
  position: relative;
  display: block;
  background-image: url(../../../images/map.png);
  background-size: cover;
  color: #FFFFFF;
  z-index: 1;
}
.p-access::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
@media (min-width: 600px) {
  .p-access::before {
    height: 100%;
  }
}
.p-access__bg {
  padding: 42px;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 960px) {
  .p-access__bg {
    padding-left: 120px;
    padding-right: 130px;
    padding-top: 86px;
    padding-bottom: 75px;
    width: 60%;
  }
}
.p-access__title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  z-index: 3;
}
@media (min-width: 960px) {
  .p-access__title {
    font-size: 36px;
  }
}
.p-access__underBar {
  display: block;
  position: relative;
  background-color: #FFFFFF;
  width: 75px;
  height: 2px;
  margin: 15px 0;
  z-index: 3;
}
@media (min-width: 960px) {
  .p-access__underBar {
    margin-top: 50px;
    margin-bottom: 58px;
  }
}
.p-access__content {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  line-height: 33px;
  z-index: 3;
}
@media (min-width: 960px) {
  .p-access__content {
    font-size: 16px;
  }
}

/**
* Foundation
* ========================== */
/**
* Layout
* ========================== */
/* Object
* ========================== */
/* Component ------------ */
/* Project ------------ */
/* Utility ------------ */
/*# sourceMappingURL=style.css.map */