@use "../../foundation/variables";
@use "../../foundation/mixin";

.c-wrap {
    padding: 35px 20px 70px 20px;
    color: variables.$brown;

    @include mixin.breakpoint(tablet) {
        padding: 60px 60px 150px 60px;
    }

    @include mixin.breakpoint(pc) {
        padding: 60px 100px 270px 100px;
    }
     
}