@use "../../foundation/variables";
@use "../../foundation/mixin";


.p-brunchMenu {
    padding: 120px;

    &__ul {
        display: flex;
        height: auto;
    }

    &__li {
        position: relative;
        height: auto;
        width: 625px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 1200px;
    }

    &__takeout {  
        background-image: url(../../../images/main_takeout.jpg);
        background-size: cover;
        margin-right: 80px;       
    }

    &__eatin {
        background-image: url(../../../images/main_eatin.jpg);
        background-size: cover;
    }

    &__title {
        color: #eaeaea;
        font-family: "Roboto", sans-serif;
        font-style: bold;
        font-size: 80px;
        margin-left: 11px;
        margin-top: 24px;
        margin-bottom: 38px;

    }

    &__underBar {
        position: absolute;
        display: block;
        background-color: #eaeaea;
        width: 63px;
        height: 3px;
        margin-left: 25px;
        top: 160px;
    }

    &__allContent {
        height: auto;
    }

    &__content {
        color: variables.$brown;
        background-color: rgba(255, 255, 255, 0.8);
        margin: 20px;
        padding: 14px 20px;

        &__title {
            font-style: bold;
            font-size: 24px;
            margin-bottom: 18px;
        }
    }
}
