@use "../../foundation/variables";
@use "../../foundation/mixin";


.p-brunchMenu {
    padding: 20px 20px 40px 20px;

    @include mixin.breakpoint(tablet) {
        padding: 40px;
    }

    @include mixin.breakpoint(pc) {
        padding: 120px;
    }

    &__ul {
        display: flex;
        flex-direction: column;
        height: auto;

        @include mixin.breakpoint(tablet) {
            flex-direction: row;
        }

    }

    &__li {
        position: relative;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 680px;

        @include mixin.breakpoint(tablet) {
            width: 100%;

        }

        @include mixin.breakpoint(pc) {
            min-height: 1200px;
        }
    }

    &__takeout {  
        background-image: url(../../../images/main_takeout.jpg);
        background-size: cover;
        margin-right: 0;
        margin-bottom: 20px;

        @include mixin.breakpoint(tablet) {
            margin-right: 40px;
            margin-bottom: 0;
        }

        @include mixin.breakpoint(pc) {
            margin-right: 80px;
        }       
    }

    &__eatin {
        background-image: url(../../../images/main_eatin.jpg);
        background-size: cover;


    }

    &__title {
        color: #eaeaea;
        font-family: "Roboto", sans-serif;
        font-style: bold;
        font-size: 44px;
        margin-left: 11px;
        margin-top: 24px;
        margin-bottom: 38px;

        @include mixin.breakpoint(pc) {
            font-size: 80px;
            margin-top: 14px;
            margin-bottom: 23px;
        }
    }

    &__underBar {
        position: absolute;
        display: block;
        background-color: #eaeaea;
        width: 36px;
        height: 3px;
        margin-left: 25px;
        top: 91px;

        @include mixin.breakpoint(pc) {
            width: 63px;
            top: 160px;
        }
    }

    &__allContent {
        height: auto;
    }

    &__content {
        color: variables.$brown;
        background-color: rgba(255, 255, 255, 0.8);
        margin: 20px;
        padding: 16px;

        @include mixin.breakpoint(pc) {
            padding: 14px 20px;
        }

        &__title {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 16px;

            @include mixin.breakpoint(pc) {
                margin-bottom: 18px;
            }
        }
    }
}

dd {
    font-size: 14px;

    @include mixin.breakpoint(pc) {
        font-size: 16px;
    }
}
