@use "../../foundation/variables";
@use "../../foundation/mixin";

.p-archive {

    &__mv {
        background-image: url(../../../images/archive_mv.png);
        height: 285px;
        background-size: cover;
        background-position: 30%; 
        position: relative;

        @include mixin.breakpoint(tablet) {
            background-position: center;
        }

        @include mixin.breakpoint(pc) {
            
            height: 240px;
            background-size: cover;
            position: relative;
        }

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.3);
            z-index: 2;
        }
    
    }

    &__title {
        font-family: "Roboto", sans-serif;                
        color: variables.$white;
        font-weight: bold;
        font-size: 60px;
        position: absolute;
        left: 25px;
        top: 122px;
        z-index: 3;

        @include mixin.breakpoint(tablet) {
            left: 86px;

        }

        @include mixin.breakpoint(pc) {
            font-size: 60px;
            font-weight: bold;
            top: 83px;
        }

    }
}

span {
    font-size: 16px;
    vertical-align: middle;
}

.p-archive {
    &__container {
        margin: 32px 20px 20px 20px;
        color: variables.$brown;

        @include mixin.breakpoint(tablet) {
            margin: 40px;
        }

        @include mixin.breakpoint(pc) {
            margin-top: 63px;
            margin-left: 100px;
            margin-right: 100px;
            margin-bottom: 70px;
        }

    }


    &__subTitle {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;

        @include mixin.breakpoint(tablet) {
            font-size: 36px;

        }



    }


}
