@use "../../foundation/variables";
@use "../../foundation/mixin";

.p-btn {
    color: variables.$brown;
    font-weight: bold;   
    border-width: 1px;
    border-style: solid;
    border-color: variables.$gray;
    border-radius: 20px;
    background-color: #EDE8E4;
    height: 80px;
    width: 100%;
    margin-bottom: 30px;

    @include mixin.breakpoint(tablet) {

        height: 104px;
        width: 429px;
        margin-bottom: 60px;

    }

}