@use "../../foundation/variables";
@use "../../foundation/mixin";

.p-blockquote {
    background-color: #F5F5F5;
    padding: 30px 20px;
    margin-bottom: 30px;
    text-align: right;

    @include mixin.breakpoint(tablet) {
        padding: 50px;
        margin-bottom: 60px;
    }

    &__p {
        margin-bottom: 20px;

        @include mixin.breakpoint(tablet) {
          
            margin-bottom: 60px;
        }


    }
    &__a {
        color: #4A6C9B;
        text-decoration: underline;

    }
}

