@use "../../foundation/variables";
@use "../../foundation/mixin";


.p-header {
    height: 217px;
    display: flex;
    flex-direction: column;
    color: variables.$gray;
    align-items: center;

    @include mixin.breakpoint(pc) {
        padding-left: 65px;     
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: bold;
        font-size: 40px;
        margin: 40px;
      
        @include mixin.breakpoint(pc) {
            font-size: 64px;
        }
    }

    &__searchForm {
        width: 100%;
        max-width: 322px;
        display: flex;
        justify-content: center;

        @include mixin.breakpoint(tablet) {
            max-width: 546px;
        }

        &__keyword {
            font-family: FontAwesome;
            color: variables.$gray;
            width: 73%;
            height: 46px;
            padding-left: 10px;
            font-size: 20px;
            border-width: 1px;
            border-style: solid;
            border-radius: 10px;
            background-color: variables.$white;
        }

        &__submit {
            color: variables.$gray;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            border-width: 1px;
            border-style: solid;
            border-radius: 10px;
            background-color: #EDE8E4;
            margin-left: 14px;
            margin-right: 0;
            height: 46px;
            width: 25%;
        
            @include mixin.breakpoint(pc) {             
                margin-right: 31px;
            }
        }
    }
}