@use "../../foundation/variables";
@use "../../foundation/mixin";

.p-sidebar {
    color: variables.$gray;


    &__title {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 34px;
        margin: 84px 0 90px 46px;

    }

    &__subTitle {
        font-weight: bold;
        font-size: 24px;
        margin-top: 48px;
        margin-left: 46px;
        margin-bottom: 32px;
    }

    &__list {
        font-size: 20px;
        margin-left: 66px;
        margin-bottom: 20px;

    }



}