@use "../../foundation/variables";
@use "../../foundation/mixin";

.p-sidebar {
    color: variables.$gray;
    position: absolute; 
    left: 100%;
    width: 45%;
    height: auto;


    &.active {
        left: auto;
        right: 0;
        
    }

    @include mixin.breakpoint(pc) {
        padding-top: 0;
        position: static;
        height: auto;

    }


    &__title {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 34px;
        margin: 20px 25px 0 0; 
        position: absolute;
        right: 100%;
        top: 0;

     
        &.active {
            color: variables.$headerbg-color;
            

            &::before {
                position: absolute;
                content: "";
                display: block;
                width: 45px;
                height: 3px;
                background-color: variables.$gray;
                top: 40px;
                right: -100%;
                transform: rotate(45deg);
                
            }

            &::after {
                position: absolute;
                content: "";
                display: block;
                width: 45px;
                height: 3px;
                background-color: variables.$gray;
                top: 40px;
                right: -100%;
                transform: rotate(-45deg);
                
            }
        }

        @include mixin.breakpoint(pc) {
            position: static;
            margin: 84px 0 90px 46px;
        }
    }

    &__subTitle {
        font-weight: bold;
        font-size: 24px;
        margin-top: 48px;
        margin-left: 46px;
        margin-bottom: 32px;

        &1 {
            margin-top: 170px;

            @include mixin.breakpoint(pc) {
                margin-top: 0;
            }
        }
        
    }



    &__list {
        font-size: 20px;
        margin-left: 66px;
        margin-bottom: 20px;
    }

   // &__bg {
   //     position: relative;
   //     background-color: black;
   //     right: 0;
   //     width: 800px;
   // }



   
    

    }






