@use "../../foundation/variables";
@use "../../foundation/mixin";

.p-single {

    &__mv {
        background-image: url(../../../images/single_mv.jpg);
        height: 225px;
        background-size: cover;
        background-position: center; 
        position: relative;

        @include mixin.breakpoint(tablet) {
            
            height: 500px;
            background-size: cover;
            position: relative;
        }
    }

    &__title {
                  
        color: variables.$white;
        font-weight: bold;
        font-size: 36px;
        position: absolute;
        left: 25px;
        top: 93px;

        @include mixin.breakpoint(tablet) {
            left: 86px;
            top: 212px;

        }

        @include mixin.breakpoint(pc) {
            font-size: 40px;
            
        }

    }
}
