@use "../foundation/variables";
@use "../foundation/mixin";


.l-sidebar {


    background-color: variables.$sidebarbg-color;



    @include mixin.breakpoint(pc) {

        position: static;
        right: 0;
        width: 20%;

    }



}