@use "../foundation/variables";
@use "../foundation/mixin";


.l-sidebar {


    background-color: variables.$sidebarbg-color;
    position: absolute;
    right: -100%;
    width: 45%;

    &.active {
        right: 0;
        
    }


    @include mixin.breakpoint(pc) {

        position: static;
        right: 0;
        width: 20%;

    }



}