
@use "../foundation/mixin";

.l-wrapper--all {
    display: flex;
    position: relative;
    overflow: hidden;
 
}

.l-wrapper--main {


    width: auto;
  

    @include mixin.breakpoint(tablet) {
        width: 100%;
    }

    @include mixin.breakpoint(pc) {
        width: 80%;
    }

    &.active {   
            position: fixed;        
    }

}