
@use "../foundation/mixin";

.l-wrapper--all {
    display: flex;
    background-color: azure;
 
}

.l-wrapper--main {

    width: 100%;

    @include mixin.breakpoint(pc) {
        width: 80%;
    }

}